@import "assets/scss/variable.module.scss";

.container {
  position: relative;
  width: 100%;
  height: 51px;
  cursor: pointer;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid rgba(black, 0.6);
  padding-left: 12px;
  padding-right: 25px;
  @media (min-width: 1024px) {
    padding-left: 24px;
    padding-right: 50px;
  }
  &:focus {
    outline: none;
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
}

.menuArea {
  position: absolute;
  margin-top: 4px;
  width: 100%;
  cursor: pointer;
  overflow: auto;
  border-radius: 12px;
  border: 1px solid rgba(black, 0.6);
  background-color: white;

  &:focus {
    outline: none;
  }

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
  z-index: 1;
}

.menuItem {
  position: relative;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  @media (min-width: 1024px) {
    padding: 8px 16px 8px 40px;
  }

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
}

.activeMenuItem {
  background-color: rgba(white, 0.6);
}

.iconStyle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 12px;
  color: black;
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
  }
}
